body {
  background-color: snow;
}

header {
  background-color: #fff;
  padding-bottom: 15px;
}

.inline {
  display: inline;
}

.inline span {
  margin: 1px 15px 0 0;
}

.rightz {
  margin-top: -35px;
}

#logo {
  width: 200px;
  height: 50px;
  margin-top: 15px;
}
