body {
  background-color: snow;
}

header {
  background-color: #fff;
  padding-bottom: 15px;
}

.inline {
  display: inline;
}

.inline span {
  margin: 1px 15px 0 0;
}

.rightz {
  margin-top: -35px;
}

#logo {
  width: 200px;
  height: 50px;
  margin-top: 15px;
}

img {
  width: 200px;
  height: 100px;
  margin-top: 30px;

}

.color {
  position: absolute;
  width: 200px;
  height: 100px;
  background: red;
  opacity:0.5;
  margin-top: 30px;
}

.color2 {
  position: absolute;
  width: 200px;
  height: 100px;
  background: blue;
  opacity:0.5;
  margin-top: 30px;
}
