<div>
  <header class="row">
    <div class="col-md-6">
      <img id="logo" src="../img/freelancer-logo.png" alt="image"/>
    </div>
    <div class="col-md-6 col-md-offset-6 col-xs-6 col-xs-offset-6 rightz">
      <span class="inline">LOGIN</span>
      <span class="inline">SIGN UP</span>
      <span class='btn btn-warning'>Post a Project</span>
    </div>
  </header>
  <div class="row">
    <h3>Hire Freelancers and Find Freelance Jobs Online</h3>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <img ng-model="carImage1" ng-src="{{carImage1}}" enter>
    </div>
    <div class="col-xs-6">
      <img ng-model="carImage2" ng-src="{{carImage2}}" enter>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <img ng-model="carImage3" ng-src="{{carImage3}}" enter>
    </div>
    <div class="col-xs-6">
      <img ng-model="carImage4" ng-src="{{carImage4}}" enter>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <img ng-model="carImage5" ng-src="{{carImage5}}" enter>
    </div>
    <div class="col-xs-6">
      <img ng-model="carImage6" ng-src="{{carImage6}}" enter>
    </div>
  </div>
</div>
