<div>
  <header class="row">
    <div class="col-md-6">
      <img id="logo" src="../img/freelancer-logo.png" alt="image"/>
    </div>
    <div class="col-md-6 col-md-offset-6 col-xs-6 col-xs-offset-6 rightz">
      <span class="inline">LOGIN</span>
      <span class="inline">SIGN UP</span>
      <span class='btn btn-warning'>Post a Project</span>
    </div>
  </header>
  <div class="row">
    <h3>Hire Freelancers and Find Freelance Jobs Online</h3>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <img ng-model="carImage" ng-src="{{carImage}}" enter>
    </div>
    <div class="col-xs-6">
      <img ng-model="carImage2" ng-src="{{carImage2}}" enter>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <img src="img/img1.jpeg">
    </div>
    <div class="col-xs-6">
      <img src="img/img1.jpeg">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <img src="img/img1.jpeg">
    </div>
    <div class="col-xs-6">
      <img src="img/img1.jpeg">
    </div>
  </div>

  <input ng-model="imageLink">
</div>
